name: Build LaTeX document
on: [push]
jobs:
  build_latex:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Git repository
        uses: actions/checkout@v5
      - name: Compile LaTeX document
        uses: xu-cheng/latex-action@v4
        with:
          pre_compile: |
            wget -O JuliaMono-ttf.zip https://github.com/cormullion/juliamono/releases/latest/download/JuliaMono-ttf.zip
            unzip -d JuliaMono-ttf/ JuliaMono-ttf.zip
            mv JuliaMono-ttf /usr/share/fonts/
          working_directory: tex
          root_file: main.tex
          latexmk_shell_escape: true
          latexmk_use_xelatex: true
          extra_system_packages: "py-pygments"
          extra_fonts: /usr/share/fonts/JuliaMono-ttf/*.ttf
      - uses: actions/upload-artifact@v4
        with:
          name: PDF
          path: tex/main.pdf
          if-no-files-found: error
      - uses: AButler/upload-release-assets@v3.0
        with:
          files: tex/main.pdf
          repo-token: ${{ secrets.GITHUB_TOKEN }}
